/*
---------------------------------------------
root
---------------------------------------------
*/
:root{
  /* font */
  --f-m-color : #2a2a2a;
  --f-g-color : #aaa;
  --f-n-size : .9375rem;
 /* 요소가 복잡할수록 root 안에 값을 주고 var()로 불러오기를 하면 쉽게 작업할 수 있다. */
 
  /* color */
  --bg-color : #2a2a2a;
 
 
  /* element interval */
  --el-s-interval : 1.875rem;
 }


 
 /*
---------------------------------------------
Container - fit center element
---------------------------------------------
*/

.container {
  width:100%;
  max-width : 1280px;
  height:auto;
  margin:auto;
}

header {
  width:100%;
  height:auto;
  padding:1.25rem 0;
}

/* Sub Section padding */
.sub-section {
  padding:5.625rem 0;
}
  /* section title style */
  .section-title {
    width:100%;
    height:auto;
  }
    .section-title h3 {
      font-size:2.125rem;
      font-weight:700;
      color:var(--f-m-color);
    }
    .section-title p {
      font-size:.875rem;
      color:var(--f-g-color);
      font-style:italic;
      font-weight: 400;
    }

/* Dot Bottom */
.dot-bottom {
  border-bottom: 2px dotted #eee;
}

/* Common btn Style */
.common-btn {
  font-size:.875rem;
  border:1px solid #fff;
  font-weight:500;
  color:#fff;
  width:fit-content;  /* width를 컨텐츠 크기에 맞춰줌 */
  padding:.75rem 1.25rem;
  transition: all .4s;
}
  .common-btn:hover {
    background:#fff;
    color:var(--f-m-color);
  }

  .explore .left-side b{
    color: var(--f-m-color);
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top:1.5rem;
    font-size:0.875rem;
   }
   
   .explore .left-side b i{
    font-size:2.5rem;
   }
   
   
   .explore .left-side em{
    font-style:italic;
   }
   